*~
lib*.a
*.o
*.lo
*.la
*.gmo
.deps
.libs

*.patch
*.rej
*.orig

Makefile
Makefile.in

/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing
/stamp-h1
/ylwrap

/po/*.header
/po/*.sed
/po/*.sin
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-po

/shadow.spec
/libmisc/getdate.c
