*~
lib*.a
*.o
*.lo
*.la
*.mo
*.gmo
.deps
.libs
.dirstamp

*.patch
*.rej
*.orig

Makefile
Makefile.in

test-driver

/ABOUT-NLS
/aclocal.m4
/autom4te.cache
/config.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/m4
/build-aux/
/stamp-h1
/ylwrap

/po/*.header
/po/*.sed
/po/*.sin
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-po

/shadow.spec
/shadow-*.tar.*
/libsubid/subid.h

.venv
__pycache__/
tests/system/artifacts/
tests/system/pytest.log
