- name: Start build container
  hosts: localhost
  vars:
    image:
      fedora: registry.fedoraproject.org/fedora:latest
      alpine: docker.io/library/alpine:latest
      debian: docker.io/library/debian:latest

  roles:
    - role: build_container

- name: CI run
  hosts: builder
  connection: podman
  gather_facts: false
  roles:
    - role: ci_run
