/chage
/chfn
/chgpasswd
/chpasswd
/chsh
/expiry
/faillog
/gpasswd
/groupadd
/groupdel
/groupmems
/groupmod
/groups
/grpck
/grpconv
/grpunconv
/id
/lastlog
/login
/logoutd
/newgrp
/newusers
/nologin
/passwd
/pwck
/pwconv
/pwunconv
/su
/sulogin
/useradd
/userdel
/usermod
/vipw
